[project]
	description = RA LB CC
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/buptfarmer (buptfarmer)
[access "refs/for/refs/*"]
	read = group user/buptfarmer (buptfarmer)
	push = group user/buptfarmer (buptfarmer)
	label-Code-Review = -2..+2 group user/buptfarmer (buptfarmer)
	label-Verified = -1..+1 group user/buptfarmer (buptfarmer)
	rebase = group user/buptfarmer (buptfarmer)
	removeReviewer = group user/buptfarmer (buptfarmer)
	submit = group user/buptfarmer (buptfarmer)
[access "refs/heads/*"]
	read = group user/buptfarmer (buptfarmer)
	create = group user/buptfarmer (buptfarmer)
	push = +force group user/buptfarmer (buptfarmer)
	pushMerge = group user/buptfarmer (buptfarmer)
[access "refs/tags/*"]
	push = +force group user/buptfarmer (buptfarmer)
	pushTag = group user/buptfarmer (buptfarmer)
	pushSignedTag = group user/buptfarmer (buptfarmer)
